form {
    display: table;
}

select {
    margin-right: 5px;
}

.form-label {
    display: table-cell;
    text-align: right;
    padding-right: 5px;
}

.form-element {
    display: table-row;
}

.signup-form-div {
    display: flex;
    justify-content: center;
}

#form-validations {
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin-left: 137px;
}