body {
    background-color: rgb(158, 204, 235);
}

.navbar {
    margin-top: 24px;
    display: flex;
  	justify-content: center;
    align-items: center;
}

/* Style the links inside the navigation bar */
.navbar a {
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 17px; 
    margin-left: 16px;
}

/* Change the color of links on hover */
.navbar a:hover {
    text-decoration: underline;
    color: black;
}

.top-image {
    margin-top: 24px;
    display: flex;
  	justify-content: center;
    align-items: center;
}

.main-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-page-background {
    background-color: white;
    width: 820px;
    height: auto;
    padding-bottom: 20px;
}

.main-page-title {
    text-align: center;
}

.main-page-subtitle {
    display: inline-block;
    margin-left: 20px;
}

.headshot-image {
    height: 300px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-page-text {
    margin: 16px;
    text-align: center;
}

.main-page-duo-container {
    display: flex;
    justify-content: space-evenly;
}

.main-page-duo-list {
    padding-left: 0px;
}

.envestnet-image {
    height: auto;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.chart {
    display: block;
    margin: auto;
    padding: auto;
}